body {
  background-color: #282a36;
  color: #f8f8f2;
  margin-left: 4em;
  margin-right: 4em;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 2em 2em;
  flex-wrap: wrap;
  justify-content: left;
  align-content: flex-start;
}

.child {
  width: 20em;
  flex-grow: 1;
}
